<div class="mat-elevation-z4">
        <h5 class="page-path">ORDERS</h5>
      
        <div class="toolbar">
          <!-- <button
            mat-flat-button
            class="add-offer"
            (click)="openAddOfferDialog()"
            color="accent"
          >
            New Offer
          </button>
       -->
          <mat-form-field
            class="test"
            class="search-form-field"
            appearance="legacy"
            floatLabel="never"
          >
            <input
              matInput
              [(ngModel)]="searchKey"
              placeholder="Search"
              autocomplete="off"
              (keyup)="applyFilter()"
            />
          </mat-form-field>
          <div>
            Total: {{ totalAmount | currency: 'INR'   }}
          </div>
        </div>
      
        <mat-table [dataSource]="list" matSort matTableExporter #exporter="matTableExporter">
          <!-- Provide list of columns to be listed -->
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      
          <!-- Provide list of column headers and column data -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <ng-container matColumnDef="product">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Product</mat-header-cell
              >
              <mat-cell *matCellDef="let element">{{ element.product_name }}</mat-cell>
            </ng-container>
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Quantity</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.price | currency: 'INR' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.total | currency: 'INR'  }}
            </mat-cell>
          </ng-container>
                
          <!-- Provide footer-row definition -->
          <!-- <mat-footer-row
            *matFooterRowDef="['loading']"
            [ngClass]="{ hide: list != null }"
          ></mat-footer-row>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef> Loading data... </mat-footer-cell>
          </ng-container> -->
        </mat-table>
      
        <!-- <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator> -->
          <button *ngIf="list!= null" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'Order Detail', sheet: 'order'})" style="margin:5px 10px">Export</button>

      </div>
      