<div class="mat-elevation-z4">
  <h5 class="page-path">SHOP DETAILS</h5>


  <mat-table [dataSource]="list" matSort>
    <!-- Provide list of columns to be listed -->
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Provide list of column headers and column data -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <ng-container matColumnDef="cover">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element; index as i">
        <span *ngIf="element.image">
          <a [href]="element.image" data-lightbox="category-cover"
            ><img class="avatar" [src]="element.image" alt="image-1"
          /></a>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.phone_number }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let element" style=" word-break: break-word;padding: 0 2px">{{ element.address }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element" style=" word-break: break-word;padding: 0 2px">{{ element.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Rating</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.rating }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Shop Category</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.shop_category }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="wallet">
      <mat-header-cell *matHeaderCellDef>Wallet</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.wallet }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="verify">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Verified</mat-header-cell
      >
      <mat-cell *matCellDef="let element" >
        <div *ngIf="element.is_active === true" class="green"><div class="greenRound"></div> Verified</div>
        <div *ngIf="element.is_active === false" class="red"><div class="redRound"></div> Pending</div>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="promote">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Promoted</mat-header-cell
      >
      <mat-cell *matCellDef="let element" >
        <div *ngIf="element.is_promted === true" class="green"><div class="greenRound"></div> Promoted</div>
        <div *ngIf="element.is_promted === false" class="red"><div class="redRound"></div> Not Promoted</div>
      </mat-cell>

    </ng-container>
  </mat-table>
</div>
