<h2 mat-dialog-title>New Offer</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newOfferForm">


    <mat-form-field class="col-sm-12">
      <mat-label>Description</mat-label>
      <textarea type="text" matInput formControlName="description" rows="4">
      </textarea>
      <mat-error *ngIf="newOfferForm.controls.description.invalid">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>Offer Code</mat-label>
      <input type="email" matInput formControlName="offerCode" />
      <mat-error *ngIf="newOfferForm.controls.offerCode.invalid">
          Offer Code is required
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col-sm-12">
      <mat-label>Offer Amount</mat-label>
      <input type="email" matInput formControlName="offerAmount" />
      <mat-error *ngIf="newOfferForm.controls.offerAmount.invalid">
          Offer Amount is required
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col-sm-12">
      <mat-label>Percentage</mat-label>
      <input type="email" matInput formControlName="offerPercentage" />
      <mat-error *ngIf="newOfferForm.controls.offerPercentage.invalid">
          Percentage is required
      </mat-error>
    </mat-form-field>

    <mat-form-field 
      class="col-sm-12 test search-form-field"
      appearance="fill"
    >
      <mat-label>Store</mat-label>
      <select matNativeControl formControlName="offerShop" (change)="shopChange($event.target.value)">
        <option *ngFor="let store of shopList" matNativeControl value={{store._id}} > 
            {{ store.name }}
        </option>
      </select>
      <!-- <mat-error *ngIf="newOfferForm.controls.offerShop.invalid">
          Shop is required
      </mat-error> -->
    </mat-form-field>

    <mat-form-field 
      class="col-sm-12 test search-form-field"
      appearance="fill"
    >
      <mat-label>Products</mat-label>
      <select matNativeControl formControlName="offerProduct">
        <option *ngFor="let product of productList" matNativeControl value={{product._id}} > 
            {{ product.name }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>From date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fromDate" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="newOfferForm.controls.fromDate.invalid">
          From date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-sm-6">
      <mat-label>To date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="toDate" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="newOfferForm.controls.toDate.invalid">
          To date is required
      </mat-error>
    </mat-form-field>

    <div class="image-upload">
      <button
        mat-stroked-button
        class="image-upload-button"
        (click)="onOpenFiles()"
      >
        <mat-icon>file_upload</mat-icon>
        <span *ngIf="!imageFilename">Select image</span>
        <span *ngIf="imageFilename">Change image</span>
      </button>
      {{ imageFilename }}
      <input
        type="file"
        accept="image/*"
        #fileInput
        id="fileUpload"
        name="fileUpload"
        style="display: none"
        formControlName="image"
        (change)="fileChangeEvent($event)"
      />
      <mat-error
        class="file-upload-error"
        *ngIf="
          newOfferForm.controls.image.invalid &&
          newOfferForm.controls.image.touched
        "
      >
        Cover image is required
      </mat-error>
      <mat-error class="file-upload-error" *ngIf="imageError">
        {{ imageError }}
      </mat-error>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    [disabled]="newOfferForm.invalid || isSubmitting"
    [ngClass]="{ 'spinner-padding': isSubmitting }"
    (click)="onSubmit()"
    color="accent"
    cdkFocusInitial
  >
    <span *ngIf="!isSubmitting">Create</span>
    <mat-spinner [diameter]="20" *ngIf="isSubmitting"></mat-spinner>
  </button>
</div>
