.image-upload{
    padding-left: 15px;
}

.image-upload-button{
    padding-left: 0px;
}

mat-error{
    font-size: 12px;
}

mat-form-field{
    margin-bottom: 10px;
}

.file-upload-error{
    margin-left: .75em;
    margin-bottom: 10px;
}

.spinner-padding{
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 0px;
}
